.header {
  display: block;
  width: 100%;
  position: fixed;
  z-index: 100;
  padding-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

  &::after {
    content: '';
    width: 0;
    height: 3.5px;
    background-color: $primary-color;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: inherit;
  }

  .section-container {
    @include flex;
    margin: 0 auto;
    padding: 3px 15px;

    @include responsive-large {
      justify-content: center;
      gap: 20px;
    }

    @include responsive-small {
      padding: 0px 20px;
    }

    @include responsive(0px, 515px) {
      justify-content: space-between;
    }
  }
}

.logo {
  user-select: none;
  width: 60px;
  cursor: pointer;

  @include responsive-medium {
    width: 55px;
  }
}

.nav {
  @include responsive(0px, 515px) {
    .nav-list {
      display: none;
    }
    .nav-toggle {
      display: flex;
    }
  }

  &-toggle {
    @include flex;
    width: 23px;
    height: 20px;
    display: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 15px;

    .bar {
      width: 100%;
      height: 2.4px;
      border-radius: 40px;
      background-color: $light;
      position: relative;

      &::after,
      &::before {
        content: '';
        width: inherit;
        height: inherit;
        background-color: inherit;
        border-radius: inherit;
        position: absolute;
      }

      &::before {
        bottom: 8.4px;
      }

      &::after {
        top: 8.4px;
      }
    }
  }

  &-list {
    @include flex();
  }

  &-item {
    list-style: none;
    margin: 0 13px;
    position: relative;

    &:hover &__link {
      color: $primary-color;
    }

    @include responsive-medium {
      margin: 0 8px;
    }

    &__link {
      font-size: 14px;
      line-height: 24px;
      font-weight: 400;
      text-decoration: none;
      color: $light;
      text-transform: capitalize;
    }
  }
}

.header-toggle-active,
.header-scroll-active {
  background-color: rgba($white, 0.9);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 1px;

  .nav-toggle .bar {
    background-color: $dark;
  }

  .nav-item__link {
    color: $dark;
    font-weight: 500;
  }
}

.header-toggle-active {
  &::after {
    width: 100%;
  }

  .nav-toggle .bar {
    transform: rotate(135deg);

    &::before {
      transform: rotate(90deg);
      bottom: 0;
    }

    &::after {
      display: none;
    }
  }

  .section-container {
    flex-direction: column;
    align-items: start;
    gap: 5px;
  }

  .nav {
    width: 100%;

    &-list {
      display: block;
      padding-bottom: 7px;
    }
  }
}

.header-scroll-active {
  padding: 0px;

  .nav-toggle .bar {
    height: 2.9px;
  }
}
